<div class="container">
  <div class="portfolio-container">
    <div class="white-container">
      <div class="work-section">
        <div class="header-section">
          <p>Web & visual Designer</p>
          <div class="header">
            <h1>My</h1>
            <div class="work">
              <div class="font w">w</div>
              <div class="font o">
                  <div>o</div>
                  <div class="left-line"></div>
                  <div class="right-line"></div>
              </div>
              <div class="font r">r</div>
              <div class="font k">k</div>
            </div>
          </div>
        </div>
        <div class="intro-section">
          <div></div>
          <div class="intro">
            <img
              src="../../../../assets/images/temp/png/play-icon.png"
              alt=""
            />
            <p>My Intro</p>
          </div>
        </div>
      </div>
      <!-- follow start -->
      <div class="follow-section">
        <div class="follow">
          <div class="follow-txt">
            <p>Follow Me On :</p>
          </div>
          <hr />
          <div class="follow-icon">
            <img src="../../../../assets/images/temp/png/facebook.png" alt="" />
            <img src="../../../../assets/images/temp/png/twitter.png" alt="" />
            <img src="../../../../assets/images/temp/png/linkedIn.png" alt="" />
          </div>
        </div>
      </div>
      <!-- follow end -->
    </div>
    <div class="bg-text">
      <p>Be Creative</p>
    </div>
  </div>
  <!-- navbar start -->
  <div class="nav-container">
    <div class="nav">
      <h2>Portfolio</h2>
      <div class="alink-btn">
        <a href="#">About Me</a>
        <a href="#">Portfolio</a>
        <button type="submit">Download CV</button>
      </div>
    </div>
  </div>
  <!-- navbar end -->
  <!-- profile start -->
  <div class="profile-container">
    <div class="profile">
      <div class="img-container">
        <img src="../../../../assets/images/temp/png/man.png" alt="" />
      </div>
    </div>
  </div>
  <!-- profile end -->
</div>

<!-- 
Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, eum. Ea fugit dolorem ipsum, alias suscipit eum itaque, nemo quasi dolorum perferendis voluptaarum rem laborum nesciunt molestiae eius fugit? Illum quae ipsa maiores corporis velit accusamusequi provident deserunt natus dolore. Consectetur nam quae amet recusandae illum a nisi, quod repude non error quo, dolor id aut saepe veritatis in. Enim nihil, atque minus tempora voluptate fuga distinctio, a non libero id, temporibus dignissimos. Minus, aliquid totam! Quibusdam adipisci ipsa officia a, dolorum esse eos accusantium, laboriosam inventore cumque qui. -->
