.card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid rgba(232, 232, 232, 1);
    gap: 10px;
    max-width: 461px;
    max-height: 491px;
    .card-img{
        height: 321px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .dis-count{
            position: absolute;
            text-align: center;
            background-color: rgba(79, 191, 89, 1);
            padding: 3px 6px;
            text-align: center;
            right: 0;
            top: 12px;
            h4{
                color: rgba(255, 255, 255, 1);
                font-family: roboto;
                font-weight: 600;
                font-size: 13px;
            }
        }
    }
    .card-footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .pType{
            font-family: roboto;
            font-weight: 400;
            font-size:16px;
            color: rgba(118, 118, 118, 1);
        }
        h3{
            font-family: roboto;
            font-weight: 700;
            font-size:25px;
            color: rgba(26, 26, 26, 1);
        }
        .card-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
            .leftInfo{
                display: flex;
                flex-direction: column;
                gap: 4px;
                .price{
                    display: flex;
                    gap: 4px;
                    .pNew{
                        font-family: roboto;
                        font-weight: 700;
                        font-size:20px;
                        color: rgba(255, 75, 55, 1);
                    }
                    .pOld{
                        font-family: roboto;
                        font-weight: 700;
                        font-size:16px;
                        color: rgba(118, 118, 118, 1);
                        text-decoration: line-through;
                    }
                }
                .ratings{
                    display: flex;
                    .star-icon{
                        width: 16px;
                        height: 15px;
                        color: rgba(249, 191, 0, 1);
                    }
                }
            }
            .store-btn{
                padding: 2px 7px;
                border:1px solid rgba(81, 170, 27, 1) ;
                border-radius:4px;
                background-color: transparent;
                align-items: center;
            }
        }
    }

}