.container{
    .material-container{
        width: 90%;
        max-width: 1280px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .demo-section{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .example-button-row {
            display: table-cell;
            max-width: 600px;
        }
        .example-button-row .mat-mdc-button-base {
            margin: 8px 8px 8px 0;
        }
        .example-flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .example-form-field {
            margin-right: 20px;
          }

        //   form start 
        .form-container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 20px;
        }
        //   form end

    }
}