.sub-container{
    margin: 0px 45px 60px;
    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 160px;
            max-width: 160px;
        }
    }
}
@media (max-width: 799px) {
    .sub-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .image-container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }
}
@media (max-width: 599px) {
    .sub-container{
        .image-container{
            display: flex;
            flex-direction: column;
            gap: 0px;
        }
    }
}