<div class="container">
    <div class="emela-container">
        <div class="e-head">
            <hr>
            <button>Emela</button>
        </div>
        <div class="e-nav">
            <h4>Catch Daily Deals!</h4>
            <div class="e-n-btns">
                <button class="btn-1">-5%</button>
                <button class="btn-2">-10%</button>
            </div>
            <div class="e-n-goto">
                <a href="#">Go to Daily Deals Section</a>
                <img src="../../../../assets/images/brand/png/r-arrow.png" alt="">
            </div>
        </div>
    </div>
</div>
